/* Cabeçalho */

/* Conteúdo */

.conteudo{
  padding-top: 45px;
}

.showData{
  margin-top: 15px;
}

.showIndex{
  margin-top: 150px;
}

/* Tabelas */

.acoes{
  width: 150px;
  text-align: center;
}

.acoes i{
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

.tableZoos {
  table-layout: fixed;
}

.tableZoos tbody td{
  height: 47px;
}

.tableCollumns{
  width: calc(50% - 75px);
}

/* Formulários */

.formReg{
  text-align: center;
}

.campCpf{
  float: left;
  margin-right: 25px;
}

.campCpf .inpCpf{
  width: 150px;
}

.campNome{

}

.campNome .inpNome{
  width: 250px;
}

.campNasc{
  float: left;
  margin-right: 25px;
}

.campNasc .inpNasc{
  width: 150px;
}

.campAdms{

}

.campAdmis .inpAdmis{
  width: 150px;
}

/* Cadastro de usuarios */
.funcField{
  width: 500px;
}
